{% extends "base.html" %}

{% block content %}
    <h2></h2>
    
    <h1>{{title}}</h1>
    {% if AllBlogs|length == 0 %}
    <p>No Blogs Posted Yet!</p>
    {% else %}

            <p>{{timestamp}}</p>
            {% for blogentry in AllBlogs %}
                <div id="entry">
                <a href="/blog?id={{blogentry.id}}"> <h2>{{blogentry.title}}</h2></a>
                <p class = "bodytext">{{blogentry.body}}</p>
                </div>
              <hr />
            {% endfor %}
       
  
    {% endif %}

    


{% endblock %}