{% extends "base.html" %}

{% block content %}
<style>
    .error{
        color: red;
    }
</style>
<h1>Add a Blog Entry!</h1>
<form method='post'>
    <label>
        Title for your new blog:
        <input type="text" name='title' value = "{{title_name}}" />
        
    </label>
    <span class = "error">{{title_error}}</span>
    <br>
    <label for="entry">
        Your new blog:
        
        <textarea cols="30" rows="10" type="text" name='entry' value = "{{entry}}" ></textarea>
    </label>
    <span class = "error">{{entry_error}}</span>
    <br>
    <input type="submit" value='Add Entry' />
</form>


{% endblock %}